[bot]
token = 225478221:AAFvpu4aBjixXmDJKAWVO3wNMjWFpxlkcHY
vardir = var
interval = 3600
bootstrap_retries = -1
errors_count_threshold = 3

#[polling]
#poll_interval = 15
#timeout = 0
#read_latency = 15

[webhook]
webhook = yes
domain = bot.example.com
listen = 127.0.0.1
port = 5000
