[Unit]
Description={{ bot_service_description }}

[Service]
Type=simple
ExecStart={{ bot_basedir }}/venv/bin/python {{ bot_basedir }}/calbot.py {{ bot_basedir }}/{{ bot_service_name }}.cfg
WorkingDirectory={{ bot_basedir }}
User={{ bot_user }}
Environment=SENTRY_DSN={{ sentry_dsn }}

{% if bot_restart_interval is defined %}
Restart=always
RuntimeMaxSec={{ bot_restart_interval }}
{% endif %}

[Install]
WantedBy=multi-user.target
