---
bot_domain: bot.telegram.example.com
bot_token: '225478221:AAFvpu4aBjixXmDJKAWVO3wNMjWFpxlkcHY'
bot_webhook_port: 5000
bot_site_config: bot
bot_user: bot
bot_basedir: /opt/bot
bot_service_name: bot
bot_service_description: 'Telegram bot'
letsencrypt_cert_domains:
  - "{{ bot.domain }}"
letsencrypt_email: "webmaster@example.com"
