[Unit]
Description={{ bot_service_description }}

[Service]
Type=simple
ExecStart=/usr/bin/python3 {{ bot_basedir }}/calbot.py {{ bot_basedir }}/{{ bot_service_name }}.cfg
WorkingDirectory={{ bot_basedir }}
User={{ bot_user }}

[Install]
WantedBy=multi-user.target
