[Unit]
Description={{ bot.service_description }}

[Service]
Type=simple
ExecStart=/usr/bin/python3 {{ bot.basedir }}/calbot.py {{ bot.basedir }}/{{ bot.service_name }}.cfg
WorkingDirectory={{ bot.basedir }}
User={{ bot.user }}

[Install]
WantedBy=multi-user.target
