[Unit]
Description={{ bot_description }}

[Service]
Type=simple
ExecStart=/usr/bin/python3 {{ bot_dir }}/calbot.py
WorkingDirectory={{ bot_dir }}
User={{ bot_user }}
Group={{ bot_group }}

[Install]
WantedBy=multi-user.target
